<ul class="list-unstyled posts-list">
  {{#each posts as |post|}}
    <li data-id="{{post.id}}">
      <div class="row">
        <div class="col-xs-12 post-header">
          <div class="co-xs-8"><h3 class="post-title">{{post.title}}</h3></div>
          <div class="col-xs-4"><h3 class="post-id">{{post.id}}</h3></div>
        </div>
        <div class="col-xs-12">
          <div class="post-subheader">
            <h4 class="post-date">{{post.date}}</h4>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="post-content">
            {{post.content}}
          </div>
        </div>
      </div>
    </li>
  {{/each}}
</ul>
