<div class="row" data-id="{{post.id}}">
  <div class="col-xs-12 post-header">
    <h3 class="post-title">{{post.title}}</h3>
    <h4 class="post-date">{{post.date}}</h4>
  </div>
  <div class="col-xs-12">
    <div class="post-content">
      {{post.content}}
    </div>
  </div>
  <div class="col-xs-12">
    <div class="text-muted post-footer">
      <div class="col-md-7">
        <small>Post ID: {{post.id}}</small>
      </div>
      <div class="col-md-5">
        <button type="submit" data-toggle="modal" data-target="#editPostModal" class="btn btn-default text-lowercase" id="editPostButton">Edit</button>
        <button type="submit" class="btn btn-default text-lowercase" data-id="{{post.id}}" id="deletePostButton">Delete</button>
      </div>
    </div>
  </div>
</div>
<div id="deletePostMessage"></div>
